p {
    color: red;
    font-size: small;
    width: auto;
}

.special {
    color: green;
    background-color: brown;
    border: 5px;
}

.outer {
    border: 5px solid black;
}

.box {
    padding: 10px;
    width: calc(90% - 30px);
    background-color: rebeccapurple;
    color: white;
}

.d2 {
    height: 100px;
    width: 200px;
    background: rebeccapurple;
    border-radius: 100px/50px;
    transform: rotate(0.8turn);
}

body {
    background: red url(Природа.jpg) 10px 10px repeat-x fixed
}
@media (max-width: 1500px) {
    body {
        background-color: aqua;
    }
}

/*
это комент, лол)
*/
